$primary: #1fa2ff;
$on-primary: #fff;
$background: #222;
$on-background: #fff;
$surface: #333;
$on-surface: #fff;
$box-shadow: #ccc;
$secondary: #bcbcbc;

$success: #20e2ac;
$on-success: #fff;
$warning: #fbd931;
$on-warning: #fff;
$error: #ff52a1;
$on-error: #fff;
