@use 'sass:color';

@use './vars' as *;

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: $primary,
  $on-primary: $on-primary,
  $secondary: $secondary,
  $surface: $surface,
  $on-surface: $on-surface,
  $background: $background,
  $error: $error,
);

@use '@material/elevation/index' as elevation with (
	$baseline-color: $box-shadow,
);
@use '@material/elevation/mdc-elevation';
@use '@smui/paper/mixins' as paper;

@include paper.paper-color(
	error,
	theme.$error,
	theme.$on-primary,
);
