@use 'sass-hex-rgb' as hexrgb;

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#app {
	min-width: 100%;
	min-height: 100%;
}

h1:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a .material-icons-outlined {
	font-size: 1em;
	padding: 0;
	vertical-align: middle;
}

.bg-color {
	&--vk    { background-color: #4981c0 !important }
	&--tg    { background-color: #2ca3d6 !important }
	&--ok    { background-color: #f68634 !important }
	&--fb    { background-color: #3d5a96 !important }
	&--insta { background-color: #df378c !important }

	&--vk:disabled    { background-color: rgba(hexrgb.toRGB(#4981c0), 0.6) !important }
	&--tg:disabled    { background-color: rgba(hexrgb.toRGB(#2ca3d6), 0.6) !important }
	&--ok:disabled    { background-color: rgba(hexrgb.toRGB(#f68634), 0.6) !important }
	&--fb:disabled    { background-color: rgba(hexrgb.toRGB(#3d5a96), 0.6) !important }
	&--insta:disabled { background-color: rgba(hexrgb.toRGB(#df378c), 0.6) !important }
}

.bg-image {
	&--vk    { background-image: url(assets/images/socials/vk.svg) }
	&--tg    { background-image: url(assets/images/socials/tg.svg) }
	&--ok    { background-image: url(assets/images/socials/ok.svg) }
	&--fb    { background-image: url(assets/images/socials/fb.svg) }
	&--insta { background-image: url(assets/images/socials/insta.svg) }
}

.bg-image-white {
	&--vk    { background-image: url(assets/images/socials/vk-white.svg) }
	&--tg    { background-image: url(assets/images/socials/tg-white.svg) }
	&--ok    { background-image: url(assets/images/socials/ok-white.svg) }
	&--fb    { background-image: url(assets/images/socials/fb-white.svg) }
	&--insta { background-image: url(assets/images/socials/insta-white.svg) }
}

:disabled .bg-image,
:disabled .bg-image-white{
	&--vk,
	&--tg,
	&--ok,
	&--fb,
	&--insta {
		opacity: 0.6;
	}
}

.text-ellipse {
	&--2, &--3 {
		display: -webkit-inline-box;
		height: fit-content;
		line-height: 1.1;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		-moz-line-clamp: 2;
		-moz-box-orient: vertical;
	}

	&--3 {
		-webkit-line-clamp: 3;
		-moz-line-clamp: 3;
	}
}

//// Material design components

.mdc-dialog-scroll-lock {
	overflow: hidden !important;
}

.mdc-snackbar.mdc-snackbar--trailing {
	justify-content: flex-end;
}
